<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryan.myblog.mapper.TagMapper">

    <select id="selectTagsByBlogId" resultType="com.ryan.myblog.vo.TagVO">
        SELECT t.id, t.name, t.color
        FROM tb_tag t
        INNER JOIN tb_blog_tag bt ON t.id = bt.tag_id
        WHERE bt.blog_id = #{blogId} AND t.deleted = 0
    </select>

</mapper>